@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../template-parts/**/*.php";
@source "../../inc/**/*.php";
@import "./fonts.css";
@import "./colors.css";
@import "./custom.css";
